body {
  font-size: 14px;
  font-family: Lato, 'Segoe UI', 'Lucida Sans Unicode', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.error {
  color: #B00020;
  margin-top: 0px;
  margin-bottom: 24px;
}